@charset "UTF-8";
/*==============================================
 * mediaqueryの設定
 *===============================================*/
/*==============================================
 * font sizeの設定
 *===============================================*/
body {
  font-family: "ヒラギノ角ゴ ProN W3", "HiraKakuPro-W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", sans-serif;
  font-size: 87.50%;
  letter-spacing: .1em;
  margin: 0;
  padding: 0; }

.u-red {
  color: red; }

.u-none {
  display: none; }
