// _setting.scss　関数の設定


// breakpoint
$SP_BREAKPOINT: 640px;

// fontsize
$SMALLFONTSIZE: 14px;
$LARGEFONTSIZE: 16px;

/*==============================================
 * mediaqueryの設定
 *===============================================*/
@mixin sp-size {
	@media (max-width: $SP_BREAKPOINT) {
		@content;
	}
}

/*==============================================
 * font sizeの設定
 *===============================================*/
@mixin s-size($size: $SMALLFONTSIZE, $weight: bold) {
	font-size: $size / $SMALLFONTSIZE * 1rem;
	font-weight: $weight;
}
@mixin l-size($size: $LARGEFONTSIZE, $weight: bold) {
	font-size: $size / $LARGEFONTSIZE * 1rem;
	font-weight: $weight;
}
